 #googleMap {
        height: 400px;
        width: 100%;
       }

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../media/Going-Places.jpg) no-repeat;
    background-size: cover; 
}

#title{
	font-family: 'Dancing Script', cursive;
	text-align: center;
	font-size: 72px;
	color: #ffffff;
	text-shadow: 2px 2px #999999;
}

body{
	font-family: 'Noto Serif', serif;
}

label{
	font-family: 'Noto Serif', serif;
	color: #ffffff;
}

#modal{
	color: #ffffff;
}

footer{
	font-family: 'Noto Serif', serif;
	font-size: 12px;
	color: #ffffff;
	text-align: center;
}

#submitTopic{
	margin: 25px 0px 20px 0px;
}

#locationInput, #searchInput, #distanceInput{
	margin: 0px 0px 15px 0px;
}
